.movie-card-container {
    display: inline-block;
  }
  
  
  .movie-card-image {
    min-height: 500px;
    object-fit: cover;
  }
  
  .col {
    padding: 0px !important;
  }
  
  .movie-card-button {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    right: 0px;
    width: 100%;
    box-sizing: border-box;
  }
  
  body {
    margin-bottom: 15px;
  }
  
  @media all and (max-width: 1200px) {
    .movie-card-image {
      height: 350px !important;
      min-height: 350px;
      max-height: 350px;
      object-fit: cover !important;
    }
  }
  
  @media all and (max-width: 767px) {
    .movie-card-image {
      height: 500px;
      min-height: 500px;
      max-height: 500px !important;
      object-fit: contain !important;
    }
  }

.card-body{
    width: 100%;
    height: 400px;
    overflow: hidden;

}



